

/*Centrar contenido y dar color al fondo y letras:*/

body {
    background: #2f494c;
    color: #fff;

    /*Centramos la pantalla para el dispositivo y que no haya ningun tipo de margen*/
    
    height: 100vh;
    padding: 0%;
    margin:0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
   
}

li {
    margin-right: 10px;
    list-style-type: none;
    font-size:10%;
    
}

li:hover {
    background: rgb(3, 3, 3);
}

table, ul, li {
    border:4px solid black;
    font-family:'Courier New', Courier, monospace;
    padding: 8px;
    margin: auto;
    font-size:100%;
    text-align:center;
    
}

h1{
    color:aliceblue;
}

nav {
    background-color: #605b5b;
}

a{
    text-decoration: none;
    color: aliceblue;
}


.recompensa{
    display: block;
    width: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    margin:auto;
    padding: 15px 200px;
    background-color: blueviolet;
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}

.recompensa:hover {
    background-color: transparent;
    border: 2px solid #7A36D4;
    color: aliceblue;
}

#cofre{display:none;}
#boton1{display:none;}
#premio{display:none;}