.cuadrado {
    width: 800px;
    /* Ancho de 800 píxeles */
    height: 800px;
    /* Alto de 800 píxeles */
    background: rgb(255, 255, 255);
    /* Fondo de color blanco */
    border: 5px solid #000;
    /* Borde color negro y de 5 píxel de grosor */
    margin: auto;
    margin-top: 80px;
    display: block;

}

.nombre, .titulo{
    text-align: center  ;
}

#cuadrado_juego{
    background-image: url("../images/nubes.jpg");
}

.boton_jugar {
    
    margin-left: 890px;
    margin-top: 50px;
    border: none;
    padding: 0.5rem 1rem;
    background: #d90e52;
    color: white;
    cursor: pointer;

}

.pesonaje {
    width: 100px;
    height: 100px;
    background: blue;
    position: absolute;
}

.personaje.moviendo {
    animation-duration: 1s;
    animation-name: moviendo;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes moviendo {
    from {
        left: 0;
    }

    to {
        left: 400px;
    }
}

  
 
  
  
  